Source: devbox
Maintainer: Tobias Umbach <umbach@men-at-work.de>
Standards-Version: 4.4.1.1
Section: devel

Package: devbox
Priority: optional
Architecture: amd64
Depends:
  vagrant         (>= 2.2.6),
  vagrant-libvirt (>= 0.0.43),
  dnsmasq         (>= 2.79),
  network-manager (>= 1.10.6)
Description: devbox-Metapaket
  Meta-Paket zur Installation der devbox-Entwicklungsumgebung.