:root {
  --color-fg: #f7f7f7;
  --color-fg-soft: #6c6c6c;
  --color-bg: #2c2c2c;
  --color-bg-row-alternate: #363636;
  --color-bg-bar: #1c1c1c;

  --font-size-big: 14pt;
  --font-size-normal: 10pt;
}

body {
  font-size: var(--font-size-normal);
  background: var(--color-bg);
  color: var(--color-fg);
  min-height: 100vh;
}

body, code {
  display: flex;
  flex-flow: column;
  font-family: sans-serif;
}

body, h1 {
  margin: 0;
}

a {
  color: var(--color-fg);
}

.dashboard-bar {
  background: var(--color-bg-bar);
  padding: .8em 1.3em;
}

.dashboard-bar,
.dashboard-bar a
{
  color: #fff;
}

.dashboard-bar a {
  text-decoration: none;
}

.dashboard-bar a:hover {
  text-decoration: underline;
}

.dashboard-nav {
  display: flex;
  align-items: center;
}

.dashboard-nav-list {
  list-style: none;
  padding: 0 1em;
  margin: 0;
}

.dashboard-nav-list li {
  display: inline-block;
  margin: 0 0.3em;
}

.dashboard-header {
  display: flex;
}

.dashboard-main {
  flex-grow: 1;
}

.dashboard-content {
  padding: 1em;
}

.dashboard-title {
  font-size: var(--font-size-big);
  font-weight: 700;
}

.vhosts {
  width: 100%;
  border-collapse: collapse;
  font-size: var(--font-size-normal);
}

.vhosts th {
  font-size: var(--font-size-normal);
  color: var(--color-fg-soft);
  border-bottom: 1px solid var(--color-fg-soft);
}

.vhosts td {
  white-space: nowrap;
}

.vhosts td:not(:last-child) {
  width: 0;
}

.vhosts tr:nth-child(odd) td {
  background: var(--color-bg-row-alternate);
}

.vhosts td, .vhosts th {
  text-align: left;
  padding: .5em 1em;
}

.project-icon {
  width: 16px;
}

.project-links a:not(:first-child) {
  margin-left: .3em;
}

.mailcatcher-iframe {
  width: 100%;
  height: 100%;
  overflow: auto;
  border: none;
}